<div class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <a class="brand" href="/"><font color="#ffffff">PlayWithRuby</font></a>
    </div>
  </div>
</div>
<p><%= link_to "Take a Challenge", new_challenge_path %></p>
